table.tiktactoe-board{
    border-collapse: collapse;
}

table.tiktactoe-board td{
    --width:75px;

    border: 1px solid black;
    width: var(--width);
    height: var(--width);
}

td{
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.occupied-X{
    background-color: red;
}

.occupied-O{
    background-color: blue;
}